/*inspired by http://fxexperience.com/2011/12/styling-fx-buttons-with-css/*/

.text-field{

    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 15 25 15 25;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: gold;
    -fx-border-insets: 3;
    -fx-border-width: 3;
    -fx-font-size: 12;


}


.buttonChat{

    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 15 25 15 25;

    -fx-border-color: #FAAC58;
    -fx-border-insets: 1;
    -fx-border-width: 1;


}

.buttonChat:hover{

    -fx-background-color: white;
    -fx-text-fill: black;

    -fx-border-color: black;
    -fx-border-insets: 1;
    -fx-border-width: 1;


}

.labelShowStats{

    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 15 25 15 25;

    -fx-border-color: #FAAC58;
    -fx-border-insets: 1;
    -fx-border-width: 1;

}

.title{

    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 30;

}

.scroll-pane > .viewport {
    -fx-background-color: khaki;
}

.scroll-pane {

    -fx-background-color: khaki;
    -fx-border-color: azure;
    -fx-border-insets: 3;
    -fx-border-width: 3;
    -fx-font-size: 12;


}


.root{
    -fx-background-image: url("background2.jpg");
    -fx-background-size: cover;


}


.labelNumber{
    -fx-background-color: #dd1a1a;
    -fx-text-fill: white;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-padding: 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.labelInfo{
    -fx-font-weight: bold;
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-fill: white;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-padding: 0;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-font-size: 14;
}

.textInfo{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.buttonGameView {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;


}