# DO NOT TOUCH THIS FUCKING FILE
server/businesslayer/target/
server/datalayer/target/
presentationlayer/target/
sharedbusinesslayer/target/
datalayer/generated/
.idea/inspectionProfiles/
.idea/libraries/
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
*.DS_STORE
/.metadata/
