server/businesslayer/target/
server/datalayer/target/
presentationlayer/target/
sharedbusinesslayer/target/
datalayer/generated/
.idea/inspectionProfiles/
.idea/libraries/
.idea/uiDesigner.xml
.idea/workspace.xml
*.DS_STORE