server/businesslayer/target/
server/datalayer/target/
presentationlayer/target/
sharedbusinesslayer/target/
.idea/libraries/
.idea/inspectionProfiles/
.idea/workspace.xml
.idea/uiDesigner.xml
*.DS_STORE
