.root{
     -fx-background-image: url("BackgroundConnection.jpg");
     -fx-background-size: cover;
 }


.button{
     -fx-border-color: transparent;
     -fx-border-width: 0;
     -fx-background-color: transparent;
     -fx-text-fill: #604020;
     -fx-font-weight: bold;
     -fx-font-size: 12;

 }
