
    /**
     * @author Vanessa Cajochen
     */

.root{
    -fx-background-image: url("backgroundRegister.jpg");
    -fx-background-size: cover;


}

.label{
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

.button{
    -fx-text-fill: #604020;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}