.text-field{

    -fx-background-color: black;
    -fx-text-fill: coral;

}

.scroll-pane {
    -fx-border-color: aquamarine;
    -fx-border-insets: 3;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}

.list-view .list-cell:even {
    -fx-border-color: gold;
    -fx-border-insets: 3;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}
.list-view .list-cell:odd {
    -fx-border-color: gold;
    -fx-border-insets: 3;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}

.text-area{

    -fx-background-color: gray;
}

.button{

    -fx-background-color: black;
    -fx-text-fill: coral;
}
.root{

    -fx-background-image: url("pexels-photo-207301.jpeg");
    -fx-background-size: cover;

}