.text-field{

    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 16px;
    -fx-padding: 15 25 15 25;
}

.scroll-pane {
    -fx-border-color: black;
    -fx-border-insets: 3;
    -fx-border-width: 3;
    -fx-font-size: 16;


}

.list-view .list-cell:even {
    -fx-border-color: black;
    -fx-border-insets: 3;
    -fx-border-width: 3;
    -fx-font-size: 16;


}
.list-view .list-cell:odd {
    -fx-border-color: black;
    -fx-border-insets: 3;
    -fx-border-width: 3;
    -fx-font-size: 16;


}


.button{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 16px;
    -fx-padding: 15 25 15 25;
}
.root{

    -fx-background-image: url("bild.jpg");
    -fx-background-size: cover;

}